/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Inter", sans-serif;
    background-color: #f5f5f5;
    padding: 0px;
  }
  
  /* Header & Navbar */
  header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
  }
  
  .navbar ul {
    list-style-type: none;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }

  /* Preloader */

  .preloader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* width: 100vw; */
    background-color: #f8f9fa;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    right: 0;
    bottom: 0;
}
  
  .dot-spinner {
    --uib-size: 2.8rem;
    --uib-speed: .9s;
    --uib-color: #183153;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
  }
  
  .dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  
  .dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
  }
  
  .dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
  }
  
  .dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
  }
  
  .dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
  }
  
  .dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
  }
  
  .dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
  }
  
  .dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
  }
  
  .dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
  }
  
  .dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
  }
  
  .dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
  }
  
  .dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
  }
  
  .dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
  }
  
  .dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
  }
  
  .dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
  }
  
  @keyframes pulse0112 {
    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }
  
    50% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  
  /* Main Content Area */
  main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Search and Filter Section */
  .search-filter {
    display: flex;
    justify-content: end;
    margin-bottom: 26px;
    gap: 15px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}
  
  .search-input {
    width: 60%;
    padding: 10px;
    font-size: 1rem;
  }
  
  .filter-dropdown {
    padding: 10px 20px;
    border-radius: 100px;
    border: 2px solid #ddd;
    font-size: 14px;
    font-weight: 600;
}
  /* Book List Section */
  .book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    position: relative;
    min-height: calc(100vh - 380px);
}


.book-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-basis: calc(25% - 15px);
}
  
  .book-cover {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0% 20%;
}
  
  .book-info {
    padding: 20px;
  }
  
  .book-title {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.book-author, .book-genre, .book-id {
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 1.3;
}

  .book-id {
    color: #999;
    font-size: 0.9rem;
  }
  
  .wishlist-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: red;
  }
  
  .wishlist-btn.active {
    color: #ff0000;
  }

  .book-author span, .book-genre span, .book-id span {
    font-weight: 700;
}
  
  /* Pagination Section */
  .pagination-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.b-pagination-outer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  display: flex
}
#border-pagination {
  margin: 0 auto;
  padding: 0;
  text-align: center
}
#border-pagination li {
  display: inline;

}
#border-pagination li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #ddd;
  float: left;

}
#border-pagination li a {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s
}
#border-pagination li a.active {
  background-color: #4caf50;
  color: #fff;
}
#border-pagination li a:hover:not(.active) {
  background: #ddd;
}
  
  /* Footer */
  footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
    padding: 20px;
    background: #ebebeb;
    border-radius: 10px;
}
footer p {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0;
}
  

  /* Custom Search box start */

  .book-search {
    position: relative;
    box-sizing: border-box;
    width: fit-content;
  }
  
  .book-search .mainbox {
    box-sizing: border-box;
    position: relative;
    width: 230px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ease;
  }
  
  .book-search .checkbox:focus {
    border: none;
    outline: none;
  }
  
  .book-search .checkbox:checked {
    right: 10px;
  }
  
  .book-search .checkbox:checked ~ .mainbox {
    width: 50px;
  }
  
  .book-search .checkbox:checked ~ .mainbox .search_input {
    width: 0;
    height: 0px;
  }
  
  .book-search .checkbox:checked ~ .mainbox .iconContainer {
    padding-right: 8px;
  }
  
  .book-search .checkbox {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 17px;
    top: 10px;
    z-index: 9;
    cursor: pointer;
    appearance: none;
  }
  
  .book-search .search_input {
    box-sizing: border-box;
    height: 100%;
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 4px;
    padding-left: 10px;
    font-size: 1em;
    color: white;
    transition: all 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .book-search .search_input::placeholder {
    color: rgba(255, 255, 255, 0.776);
  }
  
  .book-search .iconContainer {
    box-sizing: border-box;
    padding-top: 5px;
    width: fit-content;
    transition: all 0.3s ease;
  }
  
  .book-search .search_icon {
    box-sizing: border-box;
    fill: white;
    font-size: 1.3em;
  }
  

  /* Custom Search box End */



  /* Responsive Design */
  @media (max-width: 768px) {
    .search-filter {
      flex-direction: column;
    }
  
    .search-input, .filter-dropdown {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .book-list {
      justify-content: center;
    }
    .book-card{
      flex-basis: 100%;
    }
  }
  